<h1>Coach</h1>

<form action="/1">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="1" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
